[2014-06-15 10:08] fantix opened #1 "Add socket task"
In order to match the design, we need to make the socket a separate task, and deal with all the channels with a `Select`.

Code to handle each `Receiver` in the socket's task is supposed to be abstracted into a trait called `Endpoint`.

[2014-06-24 02:55] #1 closed, assigned to fantix

[2014-06-24 02:56] fantix opened #2 "Implement recv"
Now that we have the stream engine, we can open up the interface to actually receive messages.

[2014-06-24 03:03] fantix opened #3 "Implement incoming queue and hwm"
Depends on #2, the channel through which messages are passed should be replaced with SyncChannel so that it won't take up the whole memory. Find a suitable solution to implement the high water mark feature.

[2014-06-24 03:04] fantix opened #4 "Implement connect"
Now we have `bind()`, we should have `connect()` as well. Differently, `connect()` should watch the stream engine once connected, and do a reconnect when the connection is found closed.

[2014-06-24 12:09] #2 closed, assigned to fantix

[2014-06-26 05:52] #4 closed, assigned to fantix

[2014-06-26 06:58] fantix opened #5 "Implement send"
For `recv`, we connected `InnerStreamEngine` with `ZmqSocket` directly, so that client task can block on a specific channel whose other end is pending on an incoming network message. We may want to do the same for `send`, so that `send` can also block the user task if the channel buffer is full.

[2014-06-26 07:16] fantix opened #6 "Add `flags` to `msg_recv`"

[2014-06-26 07:18] fantix opened #7 "Add `flags` to `msg_send`"
Depends on #5

[2014-06-26 07:25] fantix opened #8 "Implement outgoing queue and hwm"
Depends on #5.

In order to implement future `linger` feature, we may need to set up an extra task between the outgoing route from `ZmqSocket` to `InnerStreamEngine`, queuing up all outgoing messages.

[2014-06-26 07:28] fantix opened #9 "Design the socket type hierarchy"
Now that we have the basic socket, we should forward to have different socket types like `REP` and `DEALER` and so on. Make the design, and implement a simple REQ.

[2014-06-28 14:18] fantix opened #10 "Design Change: Remove Socket Task"
After further consideration, I think the current `SocketBase` design seems to be redundant, because I decided not to let `Msg` objects go through it. So what it does now is only passing commands over, which is useless.

So `ZmqSocket` can be renamed back to `SocketBase`, and have all the inheritances possible.

[2014-06-30 12:16] #5 closed, assigned to fantix

[2014-06-30 12:16] #10 closed, assigned to fantix

[2014-07-01 14:34] #9 closed, assigned to fantix

[2014-07-02 04:29] fantix opened #11 "Design and implement context shutdown"

[2014-07-02 04:30] fantix opened #12 "More tests, more docs"

[2014-07-02 04:47] fantix opened #13 "Implement inproc protocol"

[2014-07-02 04:51] fantix opened #14 "Implement `ipc` protocol"

[2014-07-02 04:51] fantix opened #15 "Implement DEALER"

[2014-07-02 04:51] fantix opened #16 "Implement ROUTER"

[2014-07-02 04:52] fantix opened #17 "Implement PUSH"

[2014-07-02 04:52] fantix opened #18 "Implement PULL"

[2014-07-02 04:53] fantix opened #19 "Design and implement socket identity"

[2014-07-04 14:04] fantix opened #20 "Verify fairness in recv_first"

[2014-07-07 04:35] fantix opened #21 "Allow sockets be moved to different Tasks"

[2014-07-07 06:04] #13 closed, assigned to fantix

[2014-07-08 08:28] #21 closed, assigned to fantix

[2014-07-08 08:32] fantix opened #22 "Rename PeerManager to SocketBase"
I'd like to perform another renaming:
- interface part of `SocketBase` renamed to `ZmqSocket`
- default impl part of `SocketBase` left where it is
- `PeerManager` merged into `SocketBase`

So after the renaming, any specific socket implementation should inherit the `trait ZmqSocket` and can optionally owns a `struct SocketBase`.

[2014-07-09 02:08] #22 closed, assigned to nobody

[2014-07-09 06:16] fantix opened #23 "Multipart messages should be atomic"
As noted in zmq documentation, multiple parts of one message should either all arrive or none. zmq.rs lacks this.

[2014-07-10 11:59] fantix opened #24 "Implement PUB & SUB"

[2014-07-11 09:29] fantix opened #25 "Implement disconnect"

[2014-10-13 19:36] AlexSnet opened #26 "Can't build"
[code]

[2014-10-31 12:34] zonyitoo opened #28 "Unfortunately, build failed because of "fail! => panic!""
It should be noticed that Rust community has approved the RFC of changing the `fail!` marco to `panic!`.

[2014-11-03 02:32] #28 closed, assigned to nobody

[2014-11-03 02:32] #26 closed, assigned to nobody

[2014-11-09 13:03] fantix opened #31 "Use green.rs"
As libuv-powered green scheduling is moving out of rust stdlib, we should start depending on e.g. [green.rs](https://github.com/alexcrichton/green-rs) to keep up with the original design of zmq.rs.

[2015-01-09 09:15] fantix opened #33 "Green tasks are not green, use mio"

[2015-01-29 15:24] diasdavid opened #36 "Rust latest"
I'm trying/would love to use/bring this lib to latest (Rust 1.0.0-nightly currently). I started by updating some to the new Rust lingo, but there is still a long way to go as I'm not so familiar with the code. I'm getting a lot of errors in tests that seem to be driven mostly from implementation changes, and not actually changes on Rust, for e.g:

from https://github.com/diasdavid/zmq.rs

[code]

[2015-02-28 03:53] fantix commented on #36
Hi, thanks a lot for your trying! I'm currently rewriting the whole library with new Rust I/O system and new MIO library because of too much changed parts. Current code base will change a lot. Thanks anyway!

[2015-02-28 03:53] #36 closed

[2015-12-08 20:09] vladimir-lu opened #38 "Please provide status of rewrite"
I would be interested in helping this but need to know current status.

[2016-04-19 02:21] fantix commented on #38
@vladimir-lu Sorry for the late reply! All progress is on master, I suppose it will require quite some effort to get things up to date. Unfortunately I'm still occupied by different distractions, so please try anything as will :)

[2018-06-28 20:41] noxecane commented on #38
What exactly is the rewrite about so one might help

[2018-06-29 02:10] fantix commented on #38
I would expect it to be a new implementation from scratch of [ZMTP](https://rfc.zeromq.org/spec:23/ZMTP/) and ZeroMQ APIs, based on a concurrency framework.

[2018-06-29 03:49] tmccombs commented on #38
It would probably make sense to use Tokio.

[2018-06-29 04:32] fantix commented on #38
Exactly - there was no Tokio when this project was created, so it would probably be a rewritten of this rewritten.

[2019-08-26 09:40] soloradish commented on #38
Any update?

[2020-05-11 20:56] Alexei-Kornienko commented on #38
I'm working on native impl as my pet project - https://github.com/Alexei-Kornienko/zmq-rs
Right now it's an early WIP however if someone would be interested in it maybe it could become something bigger than just a pet project

[2020-05-18 20:52] Alexei-Kornienko commented on #33
Obsolete

[2020-05-18 20:52] #33 closed

[2020-05-18 20:52] Alexei-Kornienko commented on #31
Obsolete

[2020-05-18 20:52] #31 closed

[2020-05-18 20:53] Alexei-Kornienko commented on #23
Done

[2020-05-18 20:53] #23 closed

[2020-05-18 20:54] Alexei-Kornienko commented on #19
Done

[2020-05-18 20:54] #19 closed

[2020-05-18 20:55] Alexei-Kornienko commented on #16
Initial impl. is done. Not fully compliant to spec

[2020-05-18 20:55] Alexei-Kornienko commented on #11
Obsolete

[2020-05-18 20:55] #11 closed

[2020-05-18 20:55] Alexei-Kornienko commented on #7
Obsolete

[2020-05-18 20:55] #7 closed

[2020-05-18 20:55] Alexei-Kornienko commented on #6
Obsolete

[2020-05-18 20:55] #6 closed

[2020-05-18 20:57] Alexei-Kornienko commented on #24
Partially done. Not fully spec compliant

[2020-05-18 20:58] Alexei-Kornienko opened #39 "Implement XPUB socket type"

[2020-05-18 20:58] Alexei-Kornienko opened #40 "Implement XSUB socket type"

[2020-05-18 20:58] Alexei-Kornienko opened #41 "Implement PAIR socket type"

[2020-05-18 20:59] Alexei-Kornienko opened #42 "Implement fair queuing for incoming messages"

[2020-05-18 20:59] Alexei-Kornienko opened #43 "Implement basic integration tests"

[2020-05-18 21:00] Alexei-Kornienko opened #44 "Implement performance benchmark"

[2020-05-20 19:33] Alexei-Kornienko opened #45 "Implement basic CI."
Need to build package and run tests on CI.
Later push crate to cargo on git tags

[2020-06-26 00:00] fenjalien opened #53 "Can't create RepSocket when using zmq.rs as a library"
Hi, new refactor of REQ/REP looking nice, few usage problems however.
You can't create a `RepSocket` using the `new` method when not in the zmq.rs folder.

Taking the code from `examples/socket_server.rs`:
[code]
You get the error:
[code]

Including this in `Cargo.toml`:
`zeromq = { path = *Absolute path to zmq.rs* }`

[2020-06-26 00:22] fenjalien commented on #53
wops just looked through the source code, seems I'm a bit eager. Sorry!

[2020-06-26 00:22] #53 closed

[2020-08-08 11:19] Alexei-Kornienko opened #55 "Implement `ReturnToSender` error variant"
In some cases sending socket is unable to send message (reciver disconnected, etc.). In such case it would be reasonable to return a separate error and use it to return original message to the sender.

[2020-08-18 22:39] Alexei-Kornienko commented on #42
Implemented via https://github.com/zeromq/zmq.rs/pull/56
TODO: add more tests.
new issues will be tracked as separate tickets

[2020-08-18 22:39] #42 closed

[2020-08-19 12:52] Alexei-Kornienko commented on #8
Obsolete

[2020-08-19 12:52] #8 closed

[2020-08-19 12:53] Alexei-Kornienko commented on #3
Obsolete

[2020-08-19 12:53] #3 closed

[2020-08-24 10:48] #55 closed

[2020-09-17 06:22] TheButlah opened #58 "looking to contribute"
Hi, I use zmq and would love a native rust version. I'm looking to help out and contribute. Are there any features to implement that are low hanging fruit and simple for a beginning/intermediate rust developer to work on? Any particular parts of the codebase you suggest I look at to become familiar with?

Are there any project boards or other feature-tracking systems being used so contributors mig

[2020-09-17 06:23] TheButlah commented on #45
Would you be open to a PR that switches from travis to github actions? I've implemented such a CI setup in several of my rust projects and it integrates a bit better with github.

[2020-09-17 07:03] TheButlah commented on #45
Update: See #59

[2020-09-17 09:39] Alexei-Kornienko commented on #58
Right now I'm working on implementing different socket types. For example you can check recent changes to req/rep sockets and see implemenation of Dealer/Router sockets. Currently https://github.com/zeromq/zmq.rs/blob/master/src/dealer_router.rs#L108 works but it's not fully compliant to zeromq specification (fair queuing) and it needs refactoring. You can start with looking on it's code and try t

[2020-09-22 17:31] Alexei-Kornienko commented on #24
Done

[2020-09-22 17:31] #24 closed

[2020-09-22 17:34] #58 closed

[2020-09-23 10:28] TheButlah opened #64 "Support WASM to allow people to use native zmq in the web browser"
One of Rust's strengths is is wasm support, letting developers run things natively in the web browser. It would be great if we could plan to support wasm in the future.

Looking into this, tokio currently [doesn't support wasm](https://github.com/tokio-rs/tokio/issues/1597), and async-std has a [minimal feature set that supports wasm](https://github.com/async-rs/async-std/issues/220). It seems lik

[2020-09-23 11:21] TheButlah opened #65 "[Tracking] Support transport types other than tcp"
We should probably aim to support more transport types than just TCP. Here is a breakdown.

Essentials:
- [X] `tcp://
- [ ] `inproc://`
- [ ] `ipc://

UDP and Multicast:
- [ ] `epgm://`
- [ ] `pgm://`
- [ ] `udp://`

WebSockets (see https://rfc.zeromq.org/spec/39/):
- [ ] `ws://`
- [ ] `wss://`

[2020-09-23 11:23] TheButlah commented on #65
@Alexei-Kornienko Any thoughts on what I could do to help implement that initial set of transports?

[2020-09-23 11:25] TheButlah commented on #64
I've added `ws://` and `wss://` to the transport todo list here: #65. Unsure if thats the right approach, but we can figure it out in the future.

[2020-09-24 17:22] Alexei-Kornienko commented on #65
@TheButlah basically I planned to 1st complete full tcp support and then start working on something else.
However if you are interested in other transport types you can start with some kind of proof of concept.

Currently most of the tcp related stuff is concentrated in utils module - https://github.com/zeromq/zmq.rs/blob/master/src/util.rs#L144
You can start with refactoring of this part and maki

[2020-09-28 17:12] TheButlah opened #69 "What is SocketBackend and PubSocketBackend?"
What is the purpose of `SocketBackend`, and what do you mean by "backend" in this context? Also, when should a method be in `Socket` vs `SocketBackend`, and what is the purpose of having both `PubSocket` and `PubSocketBackend`?

Is there a general rule of thumb or explanation on the concepts at play here to help people contribute more easily?

[2020-09-28 17:14] TheButlah commented on #65
As part of this effort, I've introduced #68 which adds the necessary representations to disambiguate between endpoint variants and their transports.

[2020-09-28 20:09] Alexei-Kornienko commented on #69
Socket (and PubSocket for example) is a structure that is owned by user. This is a frontend part that can be used directly to send and receive messages. It has some basic methods like `send`/`recv` and it could also have some specialized methods (for example `subscribe` for SubSocket). So when this structure is dropped all resources associated with this socket should be freed

However internals ar

[2020-09-28 20:14] Alexei-Kornienko commented on #65
IMHO we should consider some kind of priority list for all this transports.
For example I don't think that `inproc` transport is really important cause `inproc` mean some part of rust code talks to other part of rust code in the same process. IMHO rust has already pretty good mean for that (channels, etc.) so I don't think that this transport type will be used much (unless I would actually start a

[2020-09-28 21:40] TheButlah commented on #65
I actually find inproc and ipc to be really helpful. I tend to use inproc for integration tests in my C++ code that uses ZMQ, as I don't have to worry about binding to ports that might conflict with other running processes. I also think both are really useful when not using docker (and can't you still bind mount unix sockets in docker?), as well as when writing code that uses both C++ and rust. Fo

[2020-09-28 21:51] TheButlah commented on #65
On the topic of whether IPC is redundant with TCP: https://stackoverflow.com/a/29436429

It says that even when using localhost and tcp, ipc still has much better latency and throughout

[2020-10-03 12:52] Alexei-Kornienko opened #71 "Multiple calls to bind will cause resource leak"
User may call `socket.bind("...")` multiple times. Overall socket should work properly (accepting connections from several endpoints) However only last stop_handle will be used to stop accepting new connections. Handles from previous call will be lost and cause possible issues/resource leak

IMHO we should either prevent user from calling bind multiple times or make sure that we save all stop hand

[2020-10-03 18:34] TheButlah commented on #71
The ZMQ C api lets users bind multiple times, and presumably we should allow users to bind somewhere, and then bind again at some later point in time. Therefore saving the stop handles is probably the right move

[2020-10-04 05:16] TheButlah opened #73 "Connecting sockets to non-existing endpoints does not work"
In ZMQ, you can connect to an endpoint before any socket has actually bound to that endpoint. That lets you avoid all sorts of ordering issues with sockets. Currently, at least the `SubSocket` will fail to connect to non-existent endpoints. We should instead have the sockets compliant with ZMTP:

From https://rfc.zeromq.org/spec/23/ on general socket semantics:

From https://rfc.zeromq.org/spec/29

[2020-10-04 12:50] Alexei-Kornienko commented on #73
This is the tough one.

Should `connect` call block until a connection is finally established? Talking into account zmq specs it seems that it should just prepare all the internal queues and return immediately. However it makes it really hard to return appropriate errors to user in case of any issues. For example user tries to connect to wrong address with no sockets ever listening. How he is supp

[2020-10-04 16:00] TheButlah commented on #73
I think modeling it after how libzmq does things, but making things idiomatic for Rust and taking care to make error handling idiomatic, is the right approach. I'm unsure of exactly what that would entail and thats easier said than done, but I'll start by enumerating some relevant details I can dig up from libzmq, which may help us figure out what our approach should be.

From http://api.zeromq.or

[2020-10-04 16:09] TheButlah commented on #73
I'd say thats a feature, not a bug. The user can stay connected to a non-existent endpoint and their messages will continue to get queued. Connection, reconnection, etc are handled asynchronously without any effort - which means there aren't really any errors to send back to the caller of `connect()`. The only time something is really an "error" per se is when the queue fills up - which is control

[2020-10-04 16:30] #71 closed

[2020-10-04 16:55] TheButlah commented on #73
Here's what I'm thinking:

- Errors that don't rely on the existence of the remote socket can be returned immediately to the caller (for example, attempting to connect a `SubSocket` multiple times to the same endpoint, or an invalid syntax for the endpoint, incompatible transport for the socket type, etc)
- The connection, disconnection, and re-connection to the remote socket will be managed by an

[2020-10-04 18:51] TheButlah commented on #64
Update: I've learned a bit more about web sockets vs tcp. Web sockets is a protocol, not a transport (i.e. HTTP vs tcp). It is built on top of TCP. However, you cannot connect a websocket client to a tcp socket unless the server is also using websockets - just like you can't make an HTTP request to a tcp socket unless its actually a HTTP server listening on that socket.

This is why the `ws://` an

[2020-10-05 00:38] TheButlah commented on #64
I've looked into the ecosystem to support this a bit.

First, there is the question of the async executor. Tokio does not support WASM, and doesn't seem to have any plans to do so. async-std currently has paritial support for WASM - importantly, it builds for the platform and task::spawn works (according to [here](https://github.com/async-rs/async-std/issues/220)). Its important to note that we te

[2020-10-05 02:41] TheButlah commented on #64
@Alexei-Kornienko would you be open to a PR to get the code to work on both async-std and tokio, via a feature flag?

[2020-10-05 08:06] Alexei-Kornienko commented on #64
@TheButlah In theory I'm open for such contributions. However I'm not sure that it will be easy to implement. You can take a look at codec code. We'll have to implement something like Codec and Framed for async-std

[2020-10-06 02:15] TheButlah commented on #64
@Alexei-Kornienko looking into it, the Codec and Framed stuff shouldn't really depend on any particular async runtime - it just needs common traits from `futures` like `Stream` and `Sink`. Tokio provides them from `tokio-util`, but no alternative appears to exist in `async-std`, presumably because Codecs aren't a concept in the rust standard library. That being said, conceptually the functionality

[2020-10-06 11:00] Alexei-Kornienko commented on #64
@TheButlah I don't think that completely replacing a tokio code is a good idea. Instead I think it can hidden behind a feature flag. So for tokio variant it will compile with tokio provided codec implementation and for async-std it may have a separate codec impl.

[2020-10-06 12:54] TheButlah commented on #64
Oh, I didn't mean to imply that we should replace tokio code across the board - just that we should strive to use runtime-agnostic crates when we can to ease transitions.

Most of the tokio-specific code seems to be in the `codec` module, as well as when binding/listening on the tcp transport. Since WASM doesn't have tcp, this code will be gated on a feature flag, and doesn't need to be ported to

[2020-10-06 18:08] Alexei-Kornienko commented on #20
Seems to work properly - https://github.com/zeromq/zmq.rs/blob/1f74f3fe61d8a6bcb019757ec320ea4430c8f3af/src/fair_queue.rs#L148

[2020-10-06 18:08] #20 closed

[2020-10-10 22:59] TheButlah commented on #65
If we can do that than we can wrap other types of streams into existing codec and rest of the code should work without changes

I've done this now in #77

[2020-10-10 23:01] TheButlah commented on #64
I've implemented some first steps for this in #77, it extracts some of the tokio specific code into one centralized location, and also abstracts the rest of the code on a runtime-agnostic codec type.

[2020-10-12 00:33] TheButlah opened #80 "Implement basic performance benchmark"
Continuation of the discussion in #77.

We need to implement a basic performance benchmark, to detect any major performance regressions. docs.rs/criterion seems like a good choice. However, Its proving a lot more difficult than expected to use criterion to benchmark async code - its not clear to me exactly how to do this - I can't for example pass the `&mut Criterion` through to the async task, be

[2020-10-12 01:50] TheButlah commented on #80
Yep, getting all manner of issues because criterion wants to pass a non-static ref along to a non-async function, so to invoke an async function I would need to to `task::spawn()` which needs a static ref

[2020-10-12 02:15] TheButlah commented on #80
Update: I think I've figured out how to get this working. Here's what the code looks like right now. The key was manually creating the tokio runtime, and using `block_on` to block until the future completes. I think that this is the right way to do things:
![image](https://user-images.githubusercontent.com/6969415/95698246-554bb600-0c0f-11eb-89a7-015def0a43b9.png)

[2020-10-12 16:01] #80 closed

[2020-10-13 06:31] TheButlah commented on #65
An IPC implementation is ready in #84

[2020-10-14 00:01] TheButlah opened #87 "Ipc sockets have race conditions when binding to the same path"
When socket `B` binds to a path used by socket `A`, `B` gets an error. However, if `A` is deleted/unbound and then `B` immediately attempts to bind, the path may not yet have been deleted. In this case, `B` gets an error when the code would imply that the socket path should no longer be used by `A`.

We should probably add some retry logic in the bind method of ipc sockets (or all sockets?) to all

[2020-10-14 00:06] TheButlah commented on #44
Closeable?

[2020-10-14 00:16] TheButlah commented on #87
@Alexei-Kornienko I suspect that the reason this is happening is that when the socket is `drop`ped, the `AcceptStopChannel` gets dropped, which causes the accept loop to break. The cleanup code in the accept task will then run, but nothing prevents the `drop()` method of the socket from blocking until that completes. Instead, we should have an `unbind()` method that sockets can call to unbind. Thi

[2020-10-14 10:35] Alexei-Kornienko commented on #44
IMHO we should keep this open. We only have 1 basic scenario and in some future work I think we can add more benchmarks covering complicated scenarios.
In addition I plan to spend couple of day to doing performance profiling and analysis to check out what's actually talking time and can we do something to speed things up.

[2020-10-14 10:42] Alexei-Kornienko commented on #87
We won't be able to call `unbind()` in `drop()` function. unbind would be async and drop must be synchronous. Currently it works in such a way that dropping socket will `eventually` free all allocated resources.

[2020-10-14 11:44] TheButlah commented on #87
You're right - I just learned this the hard way after going down the rabbit hole of Async Drop RFCs and other blog posts.

What I'm currently looking at is introducing a general purpose `TaskHandle<T>` struct, that has one method- `async fn shutdown(self) -> ZmqResult<T>`. The task handle will contain both the shutdown channel as well as the JoinHandle from tokio. We can't run `shutdown()` in the

[2020-10-16 12:03] TheButlah commented on #87
This is fixed by #89

[2020-10-22 10:45] andrewdavidmackenzie opened #93 "Implement CLIENT and SERVER Socket types"
I am interested in using the Client-Server pattern (https://zeromq.org/socket-api/) in my rust project, so just wanted to register that interest here and add these socket types to the list of issues for implementing others.

[2020-10-23 20:22] #87 closed

[2020-10-30 22:07] Alexei-Kornienko commented on #14
Done

[2020-10-30 22:07] #14 closed

[2020-11-04 22:58] Alexei-Kornienko commented on #93
@andrewdavidmackenzie there are already some working examples that you can play with - https://github.com/zeromq/zmq.rs/tree/master/examples

Could you please describe your usecase in more details so I would understand better what exactly do you need

[2020-11-05 08:31] andrewdavidmackenzie commented on #93
Hi, I want a single central server that gets "jobs" submitted from clients, the channel back to the client has an ID that the server stores in the job and uses to send updates to that client as the job is processed (seconds or minutes to complete).

The server is multi threaded/async and able to process multiple jobs in parallel, so it needs a unique channel (via ID?) back to the client that submi

[2020-11-22 20:11] Alexei-Kornienko commented on #18
Done

[2020-11-22 20:11] #18 closed

[2020-11-22 20:11] Alexei-Kornienko commented on #17
Done

[2020-11-22 20:11] #17 closed

[2020-11-22 20:11] Alexei-Kornienko commented on #16
Done

[2020-11-22 20:11] #16 closed

[2020-11-22 20:11] Alexei-Kornienko commented on #15
Done

[2020-11-22 20:11] #15 closed

[2020-12-01 12:17] karmux opened #101 "Socket server crashes with 2 clients"
Socket client and server code are taken from examples.

[code]

[2020-12-01 16:17] Alexei-Kornienko commented on #101
Thanks for the report. I'll take a look at it

[2020-12-01 20:58] #101 closed

[2020-12-01 20:59] Alexei-Kornienko commented on #101
@karmux Should be fixed in current master. Feel free to reopen it in case of any issues.

[2020-12-04 18:50] mindv0rtex opened #103 "Monitor sockets"
I'm really excited about this project. Looking forward to dropping the libzmq dependency from my code in favour of zmq.rs. My usage of ZemoMQ is rather lightweight, in fact you already support the features I use (ROUTER/DEALER over TCP). One thing that I think you don't have yet are monitor sockets. I find them very useful when monitoring the connection state. I'm curious whether they are on your

[2020-12-05 15:21] Alexei-Kornienko commented on #103
I see a following possible solution:
1) create a `monitor` method on socket. This will create a mpsc channel that will be used to receive monitor events (and give you back a consumer).
2) Create SocketEvent enum for all events (http://api.zeromq.org/4-1:zmq-socket-monitor)

What is not fully clear is what kind of payload should be in this events. Cause for C++ for example spec says "The event valu

[2020-12-05 18:46] mindv0rtex commented on #103
I am not at all familiar with `zmq.rs` yet, so feel free to discard anything I say. The thought I have is that however you choose to signal the monitor events should use the same mechanism that you use for polling other ZeroMQ sockets in your crate, to mimic how it's done in the regular ZeroMQ library.

As for the payload, again, I am a total noob, but judging by that warning, the FD payload is pr

[2020-12-28 00:10] Alexei-Kornienko opened #112 "Implement Stream/Sink for sockets."
Sockets and their current send/recv methods are very close to native Rust Stream/Sink trait. IMHO we could think about implementing this trait for some/all sockets where appropriate.

This will allow us to easily use zmq sockets with already existing stream combinators and could provide massive benefits in usability

[2020-12-28 00:12] Alexei-Kornienko commented on #38
Published a newer version 0.2.0 on crates.io. Would appreciate any kind of feedback.

[2020-12-28 00:12] #38 closed

[2020-12-28 00:14] Alexei-Kornienko opened #113 "FairQueue doesn't notify in case stream end"
Currently fair queue just silently drops stream when it reached it's end.

We should implement some kind of callback mechanism to notify socket backend about it. This could be useful for the means of monitoring and possibly reconnection in case of network errors

[2020-12-28 00:16] Alexei-Kornienko opened #114 "Do we need some kind of Discord channel to discuss stuff about this library?"

[2020-12-28 00:17] TheButlah commented on #114
I wouldn't complain about a discord channel. There is also the new github discussions tab. I have never used that however.

[2020-12-28 00:25] TheButlah commented on #114
Looking into github discussions, I it looks like its better suited to asking and answering questions about the usage of the library. I'd be down for a discord. Email me with the link

[2020-12-28 00:25] TheButlah commented on #114
Actually I guess the discord should be public, so no reason not to just paste the link here

[2020-12-28 00:26] Alexei-Kornienko commented on #114
Yeah. I think we can just add it to README.. just need to select a server for this

[2020-12-28 00:29] TheButlah commented on #114
I'm on East coast USA, if that helps

[2020-12-28 00:30] Alexei-Kornienko commented on #114
https://discord.gg/G8jEhXQa

[2020-12-28 00:40] TheButlah commented on #64
I've implemented the feature gating in #111

[2021-01-01 14:18] Alexei-Kornienko opened #116 "Implement socket options struct and builder for socket with options"
Currently socket doesn't provide any means to customize it's behaviour. Some options are required by ZMQ spec (for example high water mark for message buffers) other would be nice to have (for example number of retries on reconnect before returning an error)

[2021-01-08 21:47] nhuff opened #119 "Allow all socket types to send multipart messages"
As far as I can see from the current code REQ/REP and PUB/SUB sockets can't send multipart messages.  That seems to be inconsistent with the spec.  I have made some changes [here](https://github.com/nhuff/zmq.rs/tree/multipart) to support sending multipart messages on all sockets.  The change is fairly intrusive since it changes the ZmqMessage struct to be a wrapper around a VecDeque<Bytes> instea

[2021-01-09 14:33] Alexei-Kornienko commented on #119
I think it's not the best approach to fix this. IMHO it might be better to use enum Message instead - https://github.com/zeromq/zmq.rs/blob/master/src/codec/mod.rs#L24

We could possibly allow user to send and recv it and it can be either a single message or a multipart messages.
To support this we need to provide a number of From impl. to make it easier for end users to convert their data to Mess

[2021-01-09 14:43] Alexei-Kornienko commented on #119
I think optimal solution would be to:
1) Expose Message enum in public interface and use it as a parameter for send/recv
2) Implement number of From<...> for Message enum and construct a basic message with them (this means that trivial usecase would still be simple and won't require much code)
3) For a more complex cases end user would be able to construct this enum and pass multipart messages whe

[2021-01-09 17:38] TheButlah commented on #119
Yeah having users push into messages is a little too verbose imo. I'd rather accept an IntoIterator of ZmqMessage or something

[2021-01-09 17:41] Alexei-Kornienko commented on #119
I can try to implement a draft patch in the next few days to show you my idea of how it can be done.

[2021-01-09 18:41] TheButlah commented on #119
Ok, although since the design space for this is large, might be better to post your idea of the signatures so we can discuss and iterate on the design

[2021-01-09 19:01] nhuff commented on #119
There are definitely ergonomic improvements that should be made.  Implementing parse() and to_string() for ZmqMessage would go a long way to making the simple case simpler. The things I like about what I implemented are

1. You can handle all messages with send/recv.  You don't need send_mulitpart/recv_multipart.
2. It removes the special case of the single frame message internally. It is just a m

[2021-01-09 19:06] Alexei-Kornienko commented on #119
You cannot implement to_string cause ZmqMessage is not guaranteed to be a valid UTF8 string. There is already try_into() that can convert message to string but it can also return an error in case of invalid unicode

valid point

I agree that it might be usefull. However I hope that we can implement it without additional costs of making it more complex for users.

In any case you can surely open a

[2021-01-09 20:47] Alexei-Kornienko commented on #119
Made a draft MR to show my idea ^. @nhuff idea regarding VecDeque might also be adopted cause it would simplify code in couple of places.
Please note that I've added a bunch of helpers to cast between various types and Message enum. Maybe we should have more of thoose

[2021-01-09 23:25] nhuff commented on #119
Let me try adding some ergonomic improvements to what I have and I will submit a Draft PR to look at.

[2021-01-09 23:33] TheButlah commented on #119
As a heads up, not all zmq socket types support multipart messages. For example, [Client-Server](https://rfc.zeromq.org/spec/41/#overall-goals-of-this-pattern) and [Radio-Dish](https://rfc.zeromq.org/spec/48/#overall-goals-of-this-pattern). When we add support for multipart messages, we will not be able to add it for all socket types.

[2021-01-09 23:45] Alexei-Kornienko commented on #119
@TheButlah I like the idea of having only 1 send/recv pair (cause it also allows us to implement Stream/Sink for sockets).
IMHO certain socket type can just return an error if user tries to send multipart messages trough it.

Also please note that RFCs you mentioned are still in draft state so there is no guarantee that they won't be changed or completely dropped.

However I still think that we ne

[2021-01-10 00:07] TheButlah commented on #119
Slightly confused - that line is marked as async. It looks like nothing actually implements NonBlockingSend. I think I understand what you mean though - you mean that for example pub sockets should return immediately whereas req sockets should block.

I would argue that since we are using an asynchronous executor anyway, and that the function signatures are the same in both cases except one has th

[2021-01-10 00:08] TheButlah opened #121 "Consider combining the blocking and nonblocking versions of the send/recv traits"
From #119

[2021-01-10 00:49] nhuff commented on #119
I added a Draft PR that has implementations for converting from a string to a single frame message and try_from to go from a single frame message to a String.  I also updated the examples to use that functionality.  The examples end up being almost unchanged.

[2021-01-11 16:04] #114 closed

[2021-01-17 15:07] #119 closed

[2021-01-17 22:11] #121 closed

[2021-01-17 22:14] #69 closed

[2021-01-17 22:15] #45 closed

[2021-01-24 08:20] xpepermint opened #127 "Add missing `zmq_proxy` method"
Hey, I noticed there is no `Proxy` component available:

[code]

[2021-01-24 08:25] xpepermint opened #128 "Directions using `async-std`"
I tried to use this crate with `async-std` but whatever I do it requires `tokio` and I get a bunch of errors. There's a helper in the examples folder that should enable both runtimes but it doesn't work for me.

Could you please add notes to the README on how to use this library with `tokio` and `async-std`. Thanks.

[2021-01-24 17:49] Alexei-Kornienko commented on #127
Originally I planned to add such a method. However currently I'm considering first implemeting this feature #112 . If we'll provide basic Stream/Sink implementation we could use https://docs.rs/futures/0.3.12/futures/stream/trait.StreamExt.html#method.forward method. I'll try to prioritize this features if they are important to you

[2021-01-24 17:50] Alexei-Kornienko commented on #128
@TheButlah Could I ask you to add missing details in README? I'm pretty sure that you can do it better than I would.

[2021-01-24 20:55] xpepermint commented on #127
Thanks, mate!

[2021-01-24 23:16] TheButlah commented on #128
@xpepermint I've submitted a PR to improve the usage documentation. Does that answer your question?

[2021-01-24 23:20] xpepermint commented on #128
Thanks, @TheButlah for your quick response. I believe you answered it because I realized I forgot to add `default-features = false`. A lack of sleep I guess - the documentation will now prevent such things :).

[2021-01-24 23:20] #128 closed

[2021-01-25 15:41] Alexei-Kornienko commented on #127
I've added a prototype implementation of proxy function.

It looks like that using native `StreamExt::forward` doesn't cover case with duplex messaging (frontend <--> backend). Cause it looks like that it's only suitable for case frontend --> backend

Cause of this I've added a generic function with API similar to the one that zmq provides.
One of the drawbacks of such impl is that it requires bot

[2021-01-25 17:32] xpepermint opened #131 "Security and authentication support"
I searched for a way to secure the traffic over ZeroMQ endpoints and realized that such end-to-end [security](http://wiki.zeromq.org/area:faq#toc8) is included in ZeroMQ version `4.x`. I also found that [javascript](http://zeromq.github.io/zeromq.js/classes/socket.html#curveserver) implementation supports the `CURVE` and `gssapi`.

I don't know about these protocols much, but any kind of security

[2021-01-25 21:43] xpepermint commented on #116
Similar: https://github.com/zeromq/zmq.rs/issues/131

[2021-01-26 08:50] xpepermint commented on #127
Thanks, @Alexei-Kornienko for the PR. I appreciate your dedication and fast response. Yes, the proxy should work both ways and you won't be able to do this using the Stream object. The loop with select looks good to me, the interface supports all the required features so I guess this is it. You could just also add a test case for this new feature so we have it all covered.

[2021-01-29 17:43] Alexei-Kornienko commented on #127
Consider to be closed for now. May come back to it later in case of any issues.

[2021-01-29 17:43] #127 closed

[2021-02-15 10:10] cjdsellers commented on #12
Hi all,

If I was to get involved with the project - are there any suggestions for where adding unit tests would be most valuable?

[2021-02-15 10:11] cjdsellers commented on #25
Could you please provide some more description.

[2021-02-15 22:52] TheButlah commented on #12
@cjdsellers integration tests against the reference zeromq implementation would be very valuable - specifically making sure that the library is compliant with the spec.

[2021-02-16 08:13] cjdsellers commented on #12
Ok understood. I've working with ZMQ before in both C# and Python and integrated services between those languages. I'll familiarize myself with the spec some more.

[2021-02-21 17:19] Alexei-Kornienko commented on #25
Currently you have a `connect` method that allows you to connect to some endpoint. And you also have a `close` method that is used to completely shutdown the socket. So it may be the need to implement `disconnect` method that will be used to cancel a connect call and leave other parts intact. It may also be related to automatic reconnects cause it's required by ZeroMQ spec and it's currently missi

[2021-02-21 17:25] Alexei-Kornienko commented on #12
What I'm actually doing when working on some new functionality:
* Implement this code in Python using official driver.
* Replace some of the code with Rust equivalent.
* Replace other parts step by step.

Maybe we could do the same for integrations tests so for example test Rust implementation against some python code (cause it requires only a few lines of code). Need to think about how this can b

[2021-02-27 11:02] mrdunky commented on #64
Would love to see this project succeed.
However, I have read in a couple of places that webassembly does not have access to the the host environment when running in the browser. So no network APIs etc.
Did this change, or turn out to be incorrect?

https://stackoverflow.com/questions/52102612/is-it-possible-to-submit-http-requests-with-webassembly

[2021-02-27 14:35] karmux opened #132 "Rep socket panics when message comes from Dealer"
I get panic on message arrival when Rep socket is connected to Dealer socket. Sending message directly from Req to Rep works fine.

[code]

This is debugged message before panic:
[code]

Sending message like this: `req_socket.send("Hello".into()).await?;`

Setup: Req -> Router <- proxy() -> Dealer <- Rep

I managed to fix it locally. Planning to open a PR soon.

[2021-02-28 17:56] Alexei-Kornienko commented on #132
Cool. Looking forward for a PR. Let me know in case of any issues.

[2021-03-01 16:30] TheButlah commented on #12
@Alexei-Kornienko its probably fine to just rely on the `zmq` crate in our integration tests for now, since that is just a binding for libzmq

[2021-03-01 16:33] TheButlah commented on #64
@mrdunky web assembly does not provide any networking apis in the spec, but because we are running in the browser we can call the browser's networking APIs via `wasm-bindgen` and `web-sys`:
https://rustwasm.github.io/wasm-bindgen/examples/fetch.html

So to answer what I think you're asking, yes we can basically do anything we could do in javascript in a frontend context.

[2021-03-01 16:35] Alexei-Kornienko commented on #12
@TheButlah yeah but still it's a bit harder to setup and configure.. maybe it's faster however for me Python is much easier to bootstrap.

[2021-03-05 23:30] CorinJG commented on #116
Was about to create new issue for ability to specify socket's identity - right now PeerIdentities are by uuid only. But I guess this falls under the builder issue.

[2021-03-05 23:32] Alexei-Kornienko commented on #116
Yeah. I'm pretty sure it is. I'll try to work on it on a weekend if I have time..

[2021-03-06 00:56] Alexei-Kornienko commented on #116
I've added a prototype implementation.. It looks a bit bulky in terms of small changes here and there however I don't know a better way of doing it right now..

[2021-03-07 19:26] CorinJG commented on #116
Looks pretty functional to me, can perform userspace routing now - Thanks!

[2021-03-07 19:28] Alexei-Kornienko commented on #116
@CorinJG cool. Merged it to master. Let me know if there are other minor changes that might help you. I don't have much time to work on library but I'm trying to help people with specific requests

[2021-03-07 20:22] CorinJG commented on #116
That's very kind of you, thanks a lot:)

[2021-03-09 19:45] CorinJG commented on #116
I could be wrong but I can't see that TCP Nagle is disabled anywhere in the lib (eg. simply at socket creation via [set_nodelay](https://docs.rs/tokio/1.2.0/tokio/net/struct.TcpStream.html#method.set_nodelay)) - `tokio::net::TcpStream` sockets enable Nagle by default. It should be disabled in the ZMQ protocol as the batching is performed on the ZMQ level so Nagle can only hurt throughput. If it is

[2021-03-09 19:47] Alexei-Kornienko commented on #116
@CorinJG it seems you are right. However I think this should be tracked as a separate issue.

[2021-03-09 19:50] CorinJG commented on #116
Yeah turns out it's part of the ZeroMQ [protocol](https://en.wikipedia.org/wiki/Talk%3AZeroMQ) so shouldn't be a socket option.

[2021-03-09 19:59] CorinJG opened #134 "All socket types should disable Nagle"
Shouldn't affect many applications a great deal but can hurt latency when enabled and running on a TCP_NODELAY socket may be technically part of the Zmq protocol.  Fairly straight-forward depending on the async runtime e.g. for [tokio](https://docs.rs/tokio/1.2.0/tokio/net/struct.TcpStream.html#method.set_nodelay)

[2021-03-09 22:33] CorinJG commented on #134
#135

[2021-03-10 11:36] #134 closed

[2021-03-25 21:59] #132 closed

[2021-05-26 21:05] JonnyOThan commented on #114
this invite link is no longer valid

[2021-05-26 21:07] Alexei-Kornienko commented on #114
Generated a permanent link - https://discord.gg/pFXSqWtjQT

[2021-08-12 17:00] clegaard opened #141 "Unrecognized feature flags in published crate"
When using the 0.2.0 crate published to crates.io, it seems using the non-default feature flags is causing issues.

Defining the dependency as:
[code]
results in the following error
[code]
Specifying the Git repo as the source of the dependency appears to solve the issue:
[code]
By the way great work on the library, I hope to see it evolve even further in the future :)

[2021-08-16 08:05] Alexei-Kornienko commented on #141
Yeah it seems that I just need to publish a version 0.2.1 to crates.io I'll do it in a few days

[2021-09-24 06:39] youngday opened #143 "reconnect"
we need reconnect function ,"cetra3/tmq" from github have reconnect function ,if we can merge it, waiting for your good news!

[2021-10-09 18:06] Alexei-Kornienko commented on #141
Should be fixed now. I've uploaded a recent version to crates.io

[2021-10-09 18:06] #141 closed

[2021-10-25 10:47] Dav1d23 opened #144 "Breaking change with minor version increase"
Hello,

first of all, thanks for the crate!

I would like to point out that with version 0.2.1 a backward incompatibility has been created.
While `zeromq::ZmqMessage` provided `impl From<Vec<u8, Global>> for ZmqMessage` in 0.2.0, it does not in 0.2.1.

As far as I know, this change requires a major version increase - which is in this case 0.3.0.

Not sure how this should be handles, though :)

[2021-10-29 16:05] njeisecke opened #145 "ZmqError::BufferFull unhandled"
Occasionally a panic is raised with a backtrace like this:

[code]

Obviously ``ZmqError::BufferFull`` is not handled yet:

[code]
This is where this error is thrown:

[code]

I've no clue what "the right thing to do" could be in this situation. Would it make sense to handle this like a broken pipe?

[2021-10-29 16:40] #145 closed, assigned to nobody

[2021-10-29 16:48] #144 closed, assigned to nobody

[2021-11-26 05:27] dimitar-petrov opened #147 "[example] How to implement forward zmq device"
Hello,

the following code snippets show my progress so far.

**Forwarder (Message Broker)**
[code]
**Publisher**

[code]

I can see the message leaving the publisher and coming on the frontend port of forward device (using tcpdump), but do not receive it on the forward device.

Thanks in advance @Alexei-Kornienko

[2021-12-01 15:03] gblankendal opened #148 "PushSocket.connect fails due to set_nodelay"
The following code runs perfectly on Linux, however when I run this as a crossed compiled binary for windows I get the following error:
[code]

[code]

Looking at the code https://github.com/zeromq/zmq.rs/blob/master/src/transport/tcp.rs#L19
I was able to reproduce this error with:

[code]
As soon as set_nodelay is commented out, the error disappears.

I would advice to make the set_nodelay flag c

[2021-12-01 17:28] #148 closed

[2021-12-02 08:15] dimitar-petrov commented on #147
Update:

Looks like that issue comes from running as SubSocket as server and binding it on the port and running the PubSocket as client.

This example connects both sockets but no messages are received on the subscriber

Subscriber:
[code]

Publisher
[code]

If I switch the bind and connect everything works and messages start to flow.
The same case is working with the python bindings so I do not t

[2021-12-02 08:17] dimitar-petrov commented on #147
Just to make it clear, here is the Forwarder use case:
https://learning-0mq-with-pyzmq.readthedocs.io/en/latest/pyzmq/devices/forwarder.html

[2021-12-06 16:56] Alexei-Kornienko commented on #147
@dimitar-petrov I guess we can close this ticket for now. Feel free to reopen if needed

[2021-12-06 16:56] #147 closed

[2021-12-09 10:43] dimitar-petrov commented on #143
Can I help with this feature?

[2021-12-09 11:08] Alexei-Kornienko commented on #143
@dimitar-petrov sure. However for this feature I don't have a clear implementation plan at the moment.
I only have some general ideas about how this is supposed to work:
1) We would have to add some flag `active_side` - for the side that is responsible for reconnecting (Cause right now there is no difference between server and client after handshake).
2) Active client would have to store a list of

[2021-12-24 22:34] apowers313 opened #151 ""Don't know how to handle this now" in zmq.rs send_round_robin"
In developing Jupyter for Deno, I'm hitting the error ["Don't know how to handle this now" in `send_round_robin`](https://github.com/zeromq/zmq.rs/blob/master/src/backend.rs#L73). It's not clear to me whether this is a mistake I'm making or an unimplemented code path of `zmq.rs`. Can you help me?

[Jupyter console output attached](https://github.com/zeromq/zmq.rs/files/7775196/jupyter_log.txt) for

[2021-12-25 15:34] Alexei-Kornienko commented on #151
Seems like it's the case when sending message to next peer in queue fails for some reason. That's definitely not your mistake. Could you build zmq from your fork and add dbg!(e) to that code branch? It would be useful to know the actual error you are hitting. Maybe it should be enough to just add a `continue` there to just grab the next peer available.

[2021-12-25 23:53] bartlomieju commented on #151
I added the debug log there, here's the error:
[code]

[2021-12-26 10:00] Alexei-Kornienko commented on #151
Released a version 0.3.2 with a fix. Feel free to reopen if you have any issues.

[2021-12-26 14:12] bartlomieju commented on #151
Thanks for quick fix @Alexei-Kornienko, I tested it and panic is no longer raised, however the error is somehow never surfaced. I added a bunch of logging and don't see it returned from `socket.send()` in our code, it just causes the notebook to freeze. I will debug some more, but it's unclear ATM what's going wrong.

[2021-12-26 16:10] Alexei-Kornienko commented on #151
1) error should raise and you should catch in in socket.send() Are you sure that you check result you are getting?
2) freeze might be cause by missing reconnect. If you are using zmq socket to connect to some endpoint it should automatically reconnect in case of any network errors. This is currently not implemented - (#143 ).

Could you please describe your use case in more details? What sockets y

[2021-12-26 17:05] bartlomieju commented on #151
Thank for taking the time!

Right, so we actually surface all errors, these two are simple wrappers around `zmq.rs`:
- https://github.com/denoland/deno/pull/13122/files#diff-7d5254b223064169161752a0a7fa2a8d4df60c99444ecb71637f497c8292714cR41-R45
- https://github.com/denoland/deno/pull/13122/files#diff-7d5254b223064169161752a0a7fa2a8d4df60c99444ecb71637f497c8292714cR97-R102

And they are called her

[2021-12-26 17:21] Alexei-Kornienko commented on #151
One of the biggest blockers (IMHO) is reconnect. If it's going to be implemented close to ZMQ spec I would say that existing sockets implementation would be good enough to use it. Many options (like buffer size, etc.) should be configurable but in my opinion it's a second priority

[2021-12-26 17:22] Alexei-Kornienko commented on #151
Would be really good to get some feedback from real users about the APIs and their usability (multipart message construction, etc.). Maybe something needs changing before I can mark them as stable..

[2021-12-26 17:25] bartlomieju commented on #151
Sounds good! Just to be clear, we're fine to stay on the bleeding edge for some time and it seems reconnection logic might be the only blocker at the moment for us. Sudden API changes in unstable libs are expected and we're fine with it. I will debug some more the problems I'm having with the error not being raised.

[2021-12-27 13:45] Alexei-Kornienko commented on #151
After some thinking it seems that my commit is not correct and might cause deadlock...
I try to call self.peer_disconnected(&next_peer_id) while holding mutable reference to the same peer. That's definitely not going to work

[2021-12-27 13:48] bartlomieju commented on #151
@Alexei-Kornienko I was going to strace my program on that hang, but it's a great news that you figured this out already. Just FYI - when I replaced the panic with pass (or `println!` to be precise) I was not experiencing any problems.

[2021-12-27 13:51] Alexei-Kornienko commented on #151
@bartlomieju Could you please test this branch - fix/151 and see if it works for you?

[2021-12-27 13:54] bartlomieju commented on #151
Sure thing, on it.

[2021-12-27 13:58] bartlomieju commented on #151
@Alexei-Kornienko indeed this fixes the problem, I'm no longer getting hangs and error is showing up in the terminal:
`[shell] error handling kernel_info_request: Codec Error: Broken pipe (os error 32)`

[2021-12-27 13:59] Alexei-Kornienko commented on #151
Cool.. so this problem is solved. I'll bump a new version with the fix

[2021-12-27 14:01] #151 closed

[2021-12-28 18:05] apowers313 opened #153 "Codec Error: Broken Pipe"
When sending multiple packets in a relatively short period of time, it appears that sometimes the underlying communication pipe breaks. The error is `Codec Error: Broken pipe (os error 32)`. Here's a log with two examples: [one](https://gist.github.com/apowers313/8ed888e8e255b4668689e3ec41e8e036#file-log-txt-L1193), [two](https://gist.github.com/apowers313/8ed888e8e255b4668689e3ec41e8e036#file-log

[2021-12-28 20:07] Alexei-Kornienko commented on #153
Not sure that I have enough information to help..
1) If I understand correctly we have a Dealer socket used as a server here - https://github.com/denoland/deno/pull/13122/files#diff-7d5254b223064169161752a0a7fa2a8d4df60c99444ecb71637f497c8292714cR57
2) Rep/Router socket connects to it from somewhere.. Is it also using this library? or it's a some kind of third party client?
3) underlying socket co

[2021-12-28 22:33] apowers313 commented on #153
Thanks for the quick reply. :)

1. Yes, specifically `shell_comm` [here](https://github.com/bartlomieju/deno/blob/jupyter_apowers313/cli/tools/jupyter/mod.rs#L147) and sending messages is [here](https://github.com/bartlomieju/deno/blob/jupyter_apowers313/cli/tools/jupyter/comm.rs#L41)
2. Router socket is in [jupyter_client](https://github.com/jupyter/jupyter_client), part of the main Jupyter distr

[2021-12-28 22:54] Alexei-Kornienko commented on #153
1. Are you sure that second link is pointing to the right line? Cause that one is PubSocket as far as I can see:
[code]
Pub socket has different behaviour and has this error handled internally - https://github.com/zeromq/zmq.rs/blob/master/src/pub.rs#L179
This must be Dealer socket

2. Ok in such case we may assume that client side is working correctly (However I do know that there are some issues

[2021-12-29 05:08] apowers313 commented on #153
Sorry, you're right. Second link should have been [here](https://github.com/bartlomieju/deno/blob/jupyter_apowers313/cli/tools/jupyter/comm.rs#L97).
[broken_pipe.zip](https://github.com/zeromq/zmq.rs/files/7787402/broken_pipe.zip).

Wireshark capture attached with one good sequence (execute_request + execute_reply) followed by one failed sequence. It not obvious to me that there is any difference

[2021-12-29 11:00] apowers313 commented on #153
If I drop a debug message in the notebook application [where it receives ZMQ messages](https://github.com/jupyter/notebook/blob/master/notebook/services/kernels/handlers.py#L446) I can see that half the messages never make it up the stack -- and it seems to be a pattern of every-other packet is dropped (sometimes the pipe closes when a message is dropped, sometimes it doesn't). After about 8 messa

[2021-12-29 11:05] Alexei-Kornienko commented on #153
I'll be able to take a look later this week. Currently busy with other stuff..

[2022-01-02 21:55] Alexei-Kornienko commented on #153
Ok. so I've done some debugging and checked the network dump you provided. I've run both packets through a decoder and both of them contain valid messages:
1)
[code]
2)
[code]
So this issue is not related with messages formed incorrectly or damaged.
1 point that I see is that these 2 packets are sent to different clients (judging by the port numbers):
3	0.013162	127.0.0.1	127.0.0.1	TCP	608	55164 →

[2022-01-03 16:24] apowers313 commented on #153
Good catch on the port numbers, I think that's symptomatic of the problem. I would think that's because the TCP connection dropped and the client opened up a new connection with an ephemeral port. It's odd that we don't see a new TCP SYN / ACK sequence and that the new port issues a TCP RST indicating that it wasn't expecting packets on that port. I'm not sure why our ZMQ socket would suddenly swi

[2022-01-03 16:42] Alexei-Kornienko commented on #153
I've took a quick look on the specs and it seems that you might be missing some parts in your implementation:

For example the doc says:
[code]

As far as I see from your code you just create sockets with default parameters and the get random UUIDs as identities. You can check this example to see how to assign specific identity to your sockets - https://github.com/zeromq/zmq.rs/blob/master/example

[2022-01-03 21:01] bartlomieju commented on #153
@Alexei-Kornienko thanks for help in debugging and pointing out problem with `IDENTITY`. The latter is now fixed.

I'm still getting `BrokenPipe` error fairly often (usually 2-3 times when running a notebook with about 25 cells), however as pointed by @apowers313 they stop after a few messages are exchanged. I this we will have to wait for #143 so these errors could be handled gracefully and respo

[2022-01-03 21:20] Alexei-Kornienko commented on #153
@bartlomieju you use dealer socket to bind a port so it acts as a server. Client (pyzmq) is responsible for reconnect so you will still have this errors (in theory) so you just need to handle them somehow. Dealer socket (when acting as a server) will not handle this for you cause it doesn't have any guarantees that client will ever reconnect.

[2022-01-03 21:24] bartlomieju commented on #153
Thanks you are obviously right. I will keep digging how that situation is handled in other kernels.

[2022-04-06 02:36] testforvln opened #155 "Tcp keep alive setting function"
Hi all, I use this crate on receiving live stock quotes from stock exchanges. When the market daily rests for a while and then restarts trading, I could get no data from the zmq connection established before.
It can be fixed by tcp keep alive settings, but I could not find the related function in this crate. Could you help me with it?

[2022-04-06 04:33] poyea commented on #155
Hey there! I believe it isn't available as of [v0.3.3](https://github.com/zeromq/zmq.rs/releases/tag/v0.3.3) - as part of the option. Correct me with an example if I'm wrong. Ideally, we want to support something like this:
[code]

[2022-04-06 05:16] testforvln commented on #155
Yeah, this exmaple of with_options funciton is very helpful. I think it's the ideal way to implement the zmq options settings.

[2022-04-27 00:23] SpaceMonkeyForever opened #158 "Is Windows supported?"
I'm getting the following error on Windows 10:

toml file:

[code]

Error:
[code]

If I change toml file to:

[code]

I get:
[code]

It seems like it's always expecting a Unix system

[2022-04-27 04:57] poyea commented on #158
We don't support platforms other than Unix for IPC transport. Would this work?
[code]

[2022-04-27 11:16] SpaceMonkeyForever commented on #158
That worked for me. Thank you so much! I really wanted to get this to work.

However, I ran into a separate issue. I'm pushing on a PUB socket from Python and I can listen in Rust SUB but when I restart Python PUB, Rust stops receiving data and I have to restart it to re-establish the connection I guess.

I copy pasted the code from stock_client.rs and got rid of async_helpers as the docs suggest:

[2022-04-27 11:40] poyea commented on #158
Yes, that reconnection feature is missing ATM: #143.

[2022-04-27 12:13] SpaceMonkeyForever commented on #158
I see. I wish this project would get more contributors, I think ZMQ is great. I'm not sure what a good alternative is for easy communication between processes/servers

[2022-04-27 12:32] poyea commented on #158
Not sure if this https://github.com/erickt/rust-zmq helps, but it's not a native version.

[2022-04-27 12:34] SpaceMonkeyForever commented on #158
I'm still not sure how to get that working on Windows, it needs libzmq and I think I have to build that manually. My prod uses Linux but I develop on Windows.

[2022-04-27 12:38] poyea commented on #158
Yes, I believe you need to build `libzmq`: https://github.com/zeromq/libzmq/blob/master/INSTALL. This may get tricky depending on your Windows setting. I agree that a native, portable version would be beneficial.

[2022-04-29 07:16] domenicquirl commented on #116
@Alexei-Kornienko as #133 added _only_ the peer identity, no other options are implemented at the moment? We are interested in replacing our dependency on the from-source FFI version (which we currently need to vendor for cross-compilation), but would need send/receive timeouts (`ZMQ_SNDTIMEO`, `ZMQ_RCVTIMEO`) to be supported. Is there a way to achieve this already through `zmq.rs` or would they n

[2022-04-29 14:26] poyea commented on #116
@domenicquirl I'm afraid they're not supported - like several other options.

[2022-04-30 17:29] domenicquirl commented on #116
@poyea do you have an estimate of how much effort it would be to add timeouts / where they would need to be handled (besides adding the option itself)? Could I help with a limited part of my work-time without being familiar with the codebase?

[2022-04-30 23:47] poyea commented on #116
It's hard to tell, but I'd say maybe a medium-sized change for `ZMQ_{SND,RCV}TIMEO`. I can imagine, at that Socket level, we need a clock. Then, we handle failures separately according to the option. Re-visiting https://github.com/zeromq/libzmq/blob/master/src/socket_base.cpp#L1378 may also help.

[2022-05-03 07:23] domenicquirl commented on #116
Following up on this after looking through the stack over the week-end. I am still unsure where the correct place to put a timeout would be here, in particular due to the buffering that happens as part of `Framed{Read,Write}`. If there is buffer space available, `poll_ready` will always be `Ready`, independently of the state of the socket. Only if the buffer is full would `poll_ready`  attempt to

[2022-05-25 09:14] Dav1d23 commented on #25
Hello, I'm trying to implement a server using this crate, and I actually fall short of "files" since it seems that the server keeps tasks open even when the client connection is closed. I pushed some test code in https://github.com/Dav1d23/zeromq_connection_not_closed, is it because of the problem stated in this issue?

Thanks!

[2022-06-23 20:30] poyea opened #159 "`recv` may wait indefinitely in a SUB socket"
The issue is initially discussed on Discord. This issue is for future tracking and notes. This may be a bug or it may not.

The issue can be reproduced by removing `async_helpers::sleep` in `examples/stock_server.rs`. Then, start the examples and the client will wait for data. Only the first 128 frames are received on the client.

However, if we change that to wait for even 1ns, the client will re

[2022-06-25 08:55] Alexei-Kornienko commented on #159
Hi. Not sure that your description is actually related to the problem. async_helpers::sleep is needed just to simulate some kind of logical delay in producing messages. Without it PUB socket will simply spam as many messages as it can (and it can do a lot..). According to ZMQ spec PUB socket never blocks and simply discards messages that it cannot deliver. So in result it would simply throw away m

[2022-07-29 22:02] andrewwhitehead opened #161 "Use async mutexes"
Or mutices?

It's not safe to use the parking_lot or std::sync Mutex within async tasks, as the mutex may be locked by another task on the same thread as one attempting to obtain the lock, leading to a deadlock. It also blocks the current executor thread while awaiting the mutex, preventing other tasks from executing.

The [`async-lock`](https://docs.rs/async-mutex/latest/async_lock/) crate is a g

[2022-07-30 08:43] Alexei-Kornienko commented on #161
I'm not sure that this is an actual problem. Could you please point out exact place in the code where it can cause troubles?
Async code is not switching tasks in random places. Every yield is explicit and compiler is tracking that mutex is not held across yield point.

[2022-08-02 01:12] xtuyaowu opened #162 "how to deal with this case : after publish restart , subscribe can not receive data .thanks!"
hi
how to deal with this case : after publish restart , subscribe can not receive data .

thanks!

[2022-08-04 23:56] andrewwhitehead commented on #161
Indeed it looks like the deadlocking issue won't happen in practice as the MutexGuard is not Send, and the containing Futures are required to be. I'm still a little concerned about the potential for blocking an executor thread while awaiting the mutex but any changes there are likely just a performance optimization, and the async mutex is inherently a little more expensive than a standard one. Tok

[2022-08-05 12:11] Alexei-Kornienko commented on #161
In the case when we *need* a mutex we still *need* to lock *some* thread on it. There is no easy way of not locking an executor thread cause it means that some other thread will be locked anyway

[2022-08-05 12:11] #161 closed

[2022-08-05 12:11] Alexei-Kornienko commented on #162
duplicate of #143

[2022-08-05 12:11] #162 closed

[2022-08-05 18:10] andrewwhitehead commented on #161
With an async mutex the task yields back to the executor instead of blocking the whole thread, allowing other tasks on the same thread to (potentially) run.

[2022-08-22 19:38] mouse07410 opened #171 "Feature: UDP support"
One of the reasons for our interest in ZeroMQ is its support of UDP (and multicast, but that's secondary).

It would be great if `zmq.rs` could include UDP support.

Thank you!

[2022-09-07 20:46] SpaceMonkeyForever commented on #158
I'm not sure why I didn't close this. I was able to get it to run on Windows but I can't remember now what I needed to do.

[2022-09-07 20:46] #158 closed